<template>
  <div>
    <h1>Dashboard</h1>
    <div class="mt-4" v-for="(value, tabKey) in tabs" :key="tabKey">
      <h3>{{ tabKey | startCase }}</h3>
      <div class="row">
        <div
          :class="['col-6', tileClass, 'mt-2']"
          v-for="(tileOptions, objKey) in tabs[tabKey]"
          :key="objKey"
        >

          <router-link :to="tileOptions.to" v-if="tileOptions.to">
            <div class="card" :class="tileOptions.className ? tileOptions.className : ''">
              <div class="card-body">
                <label
                  ><span v-if="tileOptions.icon" class="mr-2"
                    ><i :class="tileOptions.icon"></i></span
                  >{{ objKey | startCase }}</label
                >
                <h1 class="font-weight-bold">
                  {{ tileOptions.value }}
                </h1>
              </div>
            </div>
          </router-link>
          <div class="card" :class="tileOptions.className ? tileOptions.className : ''" v-else>
            <div class="card-body">
              <label
              ><span v-if="tileOptions.icon" class="mr-2"
              ><i :class="tileOptions.icon"></i></span
              >{{ objKey | startCase }}</label
              >
              <h1 class="font-weight-bold">
                {{ tileOptions.value }}
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import _ from "lodash";

export default {
  props: {
    tilesPerRow: {
      type: Number,
      default: 3
    },
    tabs: { required: true } },
  filters: {
    startCase: function(value) {
      if (!value) return '';
      return _.startCase(value);
    }
  },
  computed: {
    tileClass() {
      return {
        6: 'col-md-2',
        4: 'col-md-3',
        3: 'col-md-4',
        2: 'col-md-6',
        1: 'col-md-12',
      }[this.tilesPerRow]
    }
  }
};
</script>
<style scoped>
  a:hover {
    text-decoration: none;
  }
</style>
