<template>
  <div class="container">
    <TopDashboard :tabs="tabs" :tiles-per-row="3"/>
  </div>
</template>

<script>
import TopDashboard from "./components/TopDashboard";

export default {
  name: "App",
  components: { TopDashboard },
  data() {
    return {
      tabs: {
        orders: {
          unassigned: {
            value: 140,
            icon: "fal fa-exclamation-triangle",
            className: "bg-danger text-white",
            to: {
              path: "/orders",
              params: { status: "unassigned" }
            }
          },
          open: {
            value: 30,
            icon: "fal fa-question",
            className: "bg-primary text-white",
            to: {
              path: "/orders",
              params: { status: "open" }
            }
          },
          completed: {
            value: 18,
            icon: "fal fa-check-circle",
            className: "bg-success text-white",
            to: {
              path: "/orders",
              params: { status: "completed" }
            }
          }
        },
        sales: {
          today: {
            value: 0
          },
          yesterday: {
            value: 14
          },
          thisWeek: {
            value: 36
          },
          thisMonth: {
            value: 7
          }
        }
      }
    };
  }
};
</script>
